<html>
    <head>
      <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
      <script src="static/js/application.js"></script>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>alltalk</title>
      {% endif %}
    </head>
    <body>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <form action="{{ url_for('query.more') }}" method="get" novalidate>
          {{ more_form.hidden_tag() }}
          <p>Load older</p>
          <p>{{ more_form.submit_more() }}</p>
      </form>

      <!-- feed -->
      <h1>{{title}}</h1>
      <h2>-------------------<h2>
      {% for post in db_posts %}
      <div>{{post}}</div>
      {% endfor %}
      <h2>-------------------<h2>
      <!-- vote on message -->
      <h2>Would you response with:<h2>
      {% if chosen_post %}
      <div>{{chosen_post}}</div>
      {% endif %}

      <h1>Suggest new post:</h1>
      <form action="{{ url_for('query.suggest') }}" method="post" novalidate>
          {{ suggestion_form.hidden_tag() }}
          <p>
              {{ suggestion_form.suggested_post.label }}<br>
              {{ suggestion_form.suggested_post(size=32) }}
          </p>
          <p>{{ suggestion_form.submit_suggestion() }}</p>
      </form>
    </body>
</html>
