
{% extends "base.html" %}

{% block suggestion_form %}
    <h1>Suggest new post:</h1>
    <form action="{{ url_for('query.suggest') }}" method="post" novalidate>
        {{ suggestion_form.hidden_tag() }}
        <p>
            {{ suggestion_form.suggested_post.label }}<br>
            {{ suggestion_form.suggested_post(size=32) }}
        </p>
        <p>{{ suggestion_form.submit_suggestion() }}</p>
    </form>
{% endblock %}
